<div class="min-h-screen flex flex-col items-center justify-center bg-gray-50">
  <div class="text-center">
    <div class="inline-flex items-center justify-center w-14 h-14 rounded-full p-2 bg-neutral-500" >
        <%= image_tag "palettepop.svg", class: "w-12 h-12" %>
    </div>
    <h1 class="mt-4 text-5xl font-bold text-neutral-700 mb-6" style='font-family:"Pacifico", cursive;'>PalettePop</h1>
    <p class="text-lg text-neutral-600 mb-8">
      デザインパターンをランダムに楽しめるサイトです。<br>
      気になる配色を見つけてみましょう！
    </p>
    <%= link_to random_path do %>
      <button class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md px-6 font-medium bg-neutral-500">
        <span class="absolute h-0 w-0 rounded-full transition-all duration-300 group-hover:h-50 group-hover:w-60 bg-green-700">
        </span>
        <span class="relative text-white">
          Let's ランダムPOP！
        </span>
      </button>
    <% end %>
  </div>
</div>
